{% include 'navbar_menu_employee.html' %}
{% block content %}

<br>
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm mx-auto">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">¿A dónde quieres ir hoy? ... </h3>
    <br>
    <p class="mb-4">
        <a href="{% url 'profile' %}" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Profile</a>
    </p>
    <p class="mb-4">
        <a href="{% url 'download_file' %}" download="Guide contract" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Download Contract</a>
    </p>
    <p class="mb-4">
        <a href="{% url 'matched_vacancies' %}" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Matched Vacancies</a>
    </p>
    <p class="mb-4">
        <a href="{% url 'vacancy_listemployee' %}" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Vacancy List</a>
    </p>
    <p class="mb-4">
        <a href="{% url 'applied_to_vacancy' %}" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Application history</a>
    </p>
    <p class="mb-4">
        <a href="{% url 'usersPage' %}" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Users</a>
    </p>
</div>

{% endblock content %}




