{% include 'navbar_menu_company.html' %}
{% block content %}

<br>
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm mx-auto">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Perfil</h3>
    <BR>
    <!--Contacto-->
    <div class="w-full max-w-md bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 shadow rounded-lg p-5">
        <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Current user</h2>
        <address class="relative bg-gray-50 dark:bg-gray-700 dark:border-gray-600 p-4 rounded-lg border border-gray-200 not-italic grid grid-cols-2 gap-4">
            <div class="col-span-2 sm:col-span-1">
                {% if show_form %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-8 py-3 mt-4 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Update Profile</button>

                    </form>
                {% else %}
                    {% if profile_type == 'employee' %}
                        <h2 class="card-title">Employee Profile</h2>
                        <p class="card-text"><strong>Name:</strong> {{ profile.employee_name }}</p>
                        <p class="card-text"><strong>Email:</strong> {{ profile.email }}</p>
                        <div class="w-full">
                            <p class="card-text"><strong>Information:</strong></p>
                            <textarea class="form-control" >{{ profile.information }}</textarea>
                        </div>
                        <div class="w-full">
                            <p class="card-text"><strong>Interests:</strong></p>
                            <textarea class="form-control">{{ profile.interests }}</textarea>
                        </div>
                        <p class="card-text"><strong>Work Experience:</strong> {{ profile.work_experience }} months</p>
                        <a href="{% url 'dashboard_employee' %}" class="btn btn-primary btn-custom">Employee Dashboard</a>
                    {% elif profile_type == 'company' %}
                        <h2 class="card-title">Company Profile</h2>
                        <p class="card-text"><strong>Company Name:</strong> {{ profile.company_name }}</p>
                        <p class="card-text"><strong>Email:</strong> {{ profile.email }}</p>
                        <div class="w-full">
                            <p class="card-text"><strong>Information:</strong></p>
                            <textarea class="form-control" rows="3" readonly>{{ profile.information }}</textarea>
                        </div>
                        <p class="card-text"><strong>Company Type:</strong> {{ profile.company_type }}</p>
                        <a href="{% url 'dashboard_company' %}" class="btn btn-primary btn-custom">Company Dashboard</a>
                    {% else %}
                        <p class="card-text">No profile information available.</p>
                    {% endif %}
                    <div class="btn-container mt-8">
                        <a href="?edit=true" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-8 py-3 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">EditProfile</a>
                    </div>
                    
                {% endif %}
            </div>
        </address>
    </div>
    <br>
</div>
{% endblock content %}
