{% load static %}
<!doctype html>
<html lang="en">   
    <head>
        <meta charset="UTF-8">
        <title>Listado de Usuarios</title>
        <link rel="stylesheet" href="{% static 'users.css' %}">
    </head>
    <body>
        {% include 'navbar_menu_company.html' %}
        <div class="container mt-5">
            <h1>Listado de Usuarios</h1>
            <br>
            <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-auto mx-auto">
                <div class="pb-4 bg-white dark:bg-gray-900 flex justify-center items-center min-h-screen">
                    <div class="relative mt-1">
                        <label for="table-search" class="sr-only">Buscar</label>
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <form class="busqueda" action="">
                            <input type="text" id="table-search" name="buscarUsuario" value="{{ searchTerm|default:'' }}" class="block pl-10 pr-4 py-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar usuarios y compañías">
                        </form>
                    </div>
                </div>
                {% if searchTerm %}
                    <p class="buscando text-center text-gray-900 dark:text-white">Buscando para "{{ searchTerm }}"</p>
                {% endif %}
                
                <!-- Usuarios -->
                <h3 class="text-lg font-semibold text-purple-700 dark:text-purple-300">Lista de Usuarios</h3>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-8">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <tbody>
                            {% if employees %}
                                {% for employee in employees %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ employee.employee_name }}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{ employee.work_experience }} meses de experiencia
                                        </td>
                                        <td class="px-6 py-4">
                                            {% if employee.interests %}
                                                {{ employee.interests }}
                                            {% else %}
                                                <p class="alert alert-warning">Intereses no especificados</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center py-4">
                                        {% if searchTerm %}
                                            <div class="alert alert-warning" role="alert">
                                                No hay empleados que coincidan con esta búsqueda.
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <!-- Compañías -->
                <h3 class="text-lg font-semibold text-teal-600 dark:text-teal-400">Lista de Compañías</h3>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <tbody>
                            {% if companies %}
                                {% for company in companies %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ company.company_name }}
                                        </th>
                                        <td class="px-6 py-4">
                                            Compañía de tipo {{ company.company_type }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center py-4">
                                        {% if searchTerm %}
                                            <div class="alert alert-warning" role="alert">
                                                No hay empresas que coincidan con esta búsqueda.
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="text-center mt-4">
                <a href="{% url 'dashboard_company' %}" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Home Dashboard</a>
            </p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
