{% include 'navbar_main.html' %}
{% block content %}


<!--Card-->
    <div class="mt-8 flex justify-center">
        <div class="mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800 justify-items-center">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Title
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Description
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Vacancy
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Vacancy in vacancies %}
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {% if Vacancy.status %}Disponible{% else %}No disponible{% endif %}
                                </th>
                                <td class="px-6 py-4 text-purple-600">
                                    {{ Vacancy.title }}
                                </td>
                                <td class="px-6 py-4 text-purple-600">
                                    {{ Vacancy.description }}
                                </td>
                                <td class="px-6 py-4 text-purple-600">
                                    {{ Vacancy.created_on }}
                                </td>
                                
                                <td class="px-6 py-4 text-purple-600">
                                    {% if Vacancy.document %}
                                    <a href="{{ Vacancy.document.url }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download document</a>
                                    {% else %}
                                        Sin documento
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 text-purple-600">
                                    <a href="{% url 'vacancy_detailcompany' Vacancy.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">view</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p class="text-center mt-4">
        <a href="{% url 'dashboard_company' %}" class="btn btn-info text-white" style="background-color: #40E0D0;">Home Dashboard</a>
    </p>
{% endblock content %}
