{% include 'navbar_menu_employee.html' %}
{% block content %}


<br>
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-auto mx-auto">
    <!--Vacante-->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Vacante Claro</h2>
        <address class="relative bg-gray-50 dark:bg-gray-700 dark:border-gray-600 p-4 rounded-lg border border-gray-200 not-italic grid grid-cols-2">
            <div class="space-y-2 text-gray-500 dark:text-gray-400 leading-loose hidden sm:block">
                {{ vacancy.title }}<br />
                {{ vacancy.description | safe }} <br />
                {% if vacancy.document %}
                            <p>Document: <a href="{{ vacancy.document.url }}" class="btn btn-primary btn-sm" target="_blank">Download document</a></p>
                        {% else %}
                            <p>Document: Sin documento</p>
                        {% endif %}
            </div>
            <div id="contact-details" class="space-y-2 text-gray-900 dark:text-white leading-loose">
                Posted on {{ vacancy.created_on }}<br />
                <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Descargar</button>
            </div>
    </div>

    <br>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <!-- applications -->
    {% if new_application %}
        <div class="alert alert-success" role="alert">
            Your application is pending
        </div>
    {% else %}
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Apply for this vacancy</h3>
        <form class="text-center mt-4" method="post" style="margin-top: 1.3em;">
            
            {{ application_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Apply</button>
        </form>
    {% endif %}

    <br>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <!--Comentarios-->
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Comments</h3>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <!--Comentarios existentes-->
            {% for comment in comments %}
            <div class="flex items-center space-x-4 p-4 bg-white dark:bg-gray-800 rounded-lg">
                <div class="flex flex-col w-full max-w-[320px] leading-1.5">
                    <div class="flex items-center space-x-2 rtl:space-x-reverse">
                        <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ comment.author }}</span>
                        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ comment.created_on }}</span>
                    </div>
                    <p class="text-sm font-normal py-2 text-gray-900 dark:text-white">
                        {{ comment.body | linebreaks }}
                    </p>
                </div>
            </div>
            {% endfor %}
            </div>

            <!--Dejar nuevo-->
            <br>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting moderation
                    </div>
                {% else %}
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Leave a comment</h3>
                <form class = "text-center" method="post" style="margin-top: 1.3em;">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>      
                {% endif %}


        </div>
        <br>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <p>Status: {% if vacancy.status %}Disponible{% else %}No disponible{% endif %}</p>
                {% if vacancy.status %}
                    <form action="{% url 'confirm_vacancy' vacancy.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirm</button>
                    </form>
                {% endif %}
        </div>

    <!--Calificar-->
    <br>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <!-- Formulario para calificar la vacante -->
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Rate this vacancy</h3>
            <form class="text-center mt-4" method="post" action="{% url 'rate_vacancy' vacancy.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="rating">Rate this vacancy:</label>
                    <input type="number" name="rating" id="rating" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label for="experience">Your experience:</label>
                    <textarea name="experience" id="experience" class="form-control" rows="5"></textarea>
                </div>
                <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Rate</button>
            </form>
        </div>
    </div>
</div>

<p class="text-center mt-4">
    <a href="{% url 'dashboard_employee' %}" class="btn btn-info text-white" style="background-color: #40E0D0;">Home Dashboard</a>
</p>

{% endblock content %}