{% include 'navbar_main.html' %}
{% block content %}

<!--Card-->
<div class="mt-8 flex justify-center">
    <div class="mb-8 border border-purple-500 rounded-lg shadow-sm dark:border-purple-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800 justify-items-center">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 border-b border-purple-500">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center border-b border-purple-500">Title</th>
                        <th scope="col" class="px-6 py-3 text-center border-b border-purple-500">Description</th>
                        <th scope="col" class="px-6 py-3 text-center border-b border-purple-500">Vacancy</th>
                        <th scope="col" class="px-6 py-3 text-center border-b border-purple-500">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vacancy in matched_vacancies %}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b border-purple-500">
                        <td class="px-6 py-4 font-medium text-purple-600 whitespace-nowrap dark:text-purple-500 border-b border-purple-500">{{ vacancy.title }}</td>
                        <td class="px-6 py-4 text-purple-600 text-center border-b border-purple-500 dark:text-purple-500">{{ vacancy.description }}</td>
                        <td class="px-6 py-4 text-center border-b border-purple-500">
                            <a href="{{ vacancy.document.url }}" class="font-medium text-purple-600 dark:text-purple-500 hover:underline">Download Document</a>
                        </td>
                        <td class="px-6 py-4 text-center border-b border-purple-500">
                            <a href="{% url 'vacancy_detailemployee' vacancy.id %}" class="font-medium text-purple-600 dark:text-purple-500 hover:underline">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-center mt-4">
                <a href="{% url 'dashboard_employee' %}" class="btn btn-info text-white" style="background-color: #40E0D0;">Home Dashboard</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}
