{% include 'navbar_menu_company.html' %}
{% block content %}

<br>
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm mx-auto">
        <h1 class="text-lg font-semibold text-gray-900 dark:text-white">Profile</h1>
        <BR>
        <div class="w-full max-w-md bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 shadow rounded-lg p-5">
            <div class="col-span-2 sm:col-span-1">
                {% if profile_type == 'employee' %}
                    <h2 class="card-title">Employee Profile</h2>
                    <p class="card-text"><strong>Name:</strong> {{ profile.employee_name }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ profile.email }}</p>
                    <div class="w-full">
                        <p class="card-text"><strong>Information:</strong> {{ profile.information }}</p>
                    </div>
                    <div class="w-full">
                        <p class="card-text"><strong>Interests:</strong> {{ profile.interests }}</p>
                    </div>
                    <p class="card-text"><strong>Work Experience:</strong> {{ profile.work_experience }} months</p>
                    <p class="text-center mt-4">
                        <a href="{% url 'dashboard_company' %}" class="btn btn-info text-white" style="background-color: #40E0D0;">Home Dashboard</a>
                    </p>
                {% elif profile_type == 'company' %}
                    <h2 class="card-title">Company Profile</h2>
                    <p class="card-text"><strong>Company Name:</strong> {{ profile.company_name }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ profile.email }}</p>
                    <div class="w-full">
                        <p class="card-text"><strong>Information:</strong> {{ profile.information }}</p>
                    </div>
                    <p class="card-text"><strong>Company Type:</strong> {{ profile.company_type }}</p>
                    <p class="text-center mt-4">
                        <a href="{% url 'dashboard_company' %}" class="btn btn-info text-white" style="background-color: #40E0D0;">Home Dashboard</a>
                    </p>
                {% else %}
                    <p class="card-text">No profile information available.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}
