{% include 'navbar_main.html' %}
{% block content %}

<br>
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md mx-auto">
    <h1 class="text-lg font-semibold text-gray-900 dark:text-white">¡Bienvenido!</h1>
    <br>
    <h5 class="text-sm font-semibold text-gray-900 dark:text-white">Rellena los datos de tu perfil: </h5>
    <br>
    
    <!--Form-->
    <form method="POST" class="max-w-md mx-auto">
        {% csrf_token %}
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                <label for="username" class="text-sm text-black-500 dark:text-gray-400 block mb-1">Usuario</label>
                {{ form.username }}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="employee_name" class="text-sm text-black-500 dark:text-gray-400 block mb-1">Nombre y Apellido</label>
                {{ form.employee_name }}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="email" class="text-sm text-black-500 dark:text-gray-400 block mb-1">Correo</label>
                {{ form.email }}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="password" class="text-sm text-black-500 dark:text-gray-400 block mb-1">Contraseña</label>
                {{ form.password }}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="information" class="text-sm text-black-500 dark:text-gray-400 block mb-1">Información Académica</label>
                {{ form.information }}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="interests" class="text-sm text-black-500 dark:text-gray-400 block mb-1">Intereses</label>
                {{ form.interests }}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="work_experience" class="text-sm text-black-500 dark:text-gray-400 block mb-1">Experiencia Laboral (meses)</label>
                {{ form.work_experience }}
            </div>
        </div>

        <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Regístrate</button>
    </form>
</div>

{% endblock content %}
