{% include 'navbar_menu_company.html' %}
{% block content %}


<br>
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-auto mx-auto">
    <!--Vacante-->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Vacante Claro</h2>
        <address class="relative bg-gray-50 dark:bg-gray-700 dark:border-gray-600 p-4 rounded-lg border border-gray-200 not-italic grid grid-cols-2">
            <div class="space-y-2 text-gray-500 dark:text-gray-400 leading-loose hidden sm:block">
                {{ vacancy.title }}<br />
                {{ vacancy.description | safe }} <br />
                {% if vacancy.document %}
                            <p>Document: <a href="{{ vacancy.document.url }}" class="btn btn-primary btn-sm" target="_blank">Download document</a></p>
                        {% else %}
                            <p>Document: Sin documento</p>
                        {% endif %}
            </div>
            <div id="contact-details" class="space-y-2 text-gray-900 dark:text-white leading-loose">
                Posted on {{ vacancy.created_on }}<br />
                <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Descargar</button>
            </div>
    </div>

    <br>
    <!--Aplicaciones-->
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{ applications.count }} applications</h3>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        {% for application in applications %}
        <div class="flex items-center space-x-4 p-4 bg-white dark:bg-gray-800 rounded-lg">
            <div class="flex flex-col w-full max-w-[320px] leading-1.5">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white"><a href="{% url 'view_profile' application.user_id %}">{{ application.user }}</a>{{ application.user }}</span>
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{application.status}} since {{ application.created_on }}</span>
                </div>
                <p class="text-sm font-normal py-2 text-gray-900 dark:text-white">
                    {{ application.information | linebreaks }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Comentarios-->
    <BR>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{ comments.count }} comments</h3>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <!--Comentarios existentes-->
        {% for comment in comments %}
        <div class="flex items-center space-x-4 p-4 bg-white dark:bg-gray-800 rounded-lg">
            <div class="flex flex-col w-full max-w-[320px] leading-1.5">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ comment.author }}</span>
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ comment.created_on }}</span>
                </div>
                <p class="text-sm font-normal py-2 text-gray-900 dark:text-white">
                    {{ comment.body | linebreaks }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <!--Calificar-->
    <BR>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Calificaciones</h3>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="flex items-center space-x-4 p-4 bg-white dark:bg-gray-800 rounded-lg">
            <p>Status: {% if vacancy.status %}Disponible{% else %}No disponible{% endif %}</p>
            {% if not vacancy.status %}
                        <form action="{% url 'reopen_vacancy' vacancy.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="text-white bg-purple-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reabrir</button>
                        </form>
            {% endif %}
            {% for rating in vacancy.ratings.all %}
            <div class="flex flex-col w-full max-w-[320px] leading-1.5">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ rating.user.username }}</span>
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ rating.rating }}</span>
                </div>
                <p class="text-sm font-normal py-2 text-gray-900 dark:text-white">
                    {{ rating.experience }}
                </p>
            {% empty %}
                <p>No ratings yet</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<p class="text-center mt-4">
    <a href="{% url 'dashboard_company' %}" class="btn btn-info text-white" style="background-color: #40E0D0;">Home Dashboard</a>
</p>
{% endblock content %}